@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
html {
    scroll-behavior: smooth;
}
:root {
    --primary-color:#778873;
    --primary-color-dark:#A1BC98;
    --secondary-color: white;
    --text-dark:black;
    --text-light:grey;
    --extra-light:white;
    --max-width:100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #F7F8F2;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 80%;
    margin-bottom: 0;
}
.nav__content{
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.logo {
    font-size:2.6rem;
    font-weight: 600;
    color: var(--text-dark);
    line-height:1.4rem;
    margin-top: 1rem;

}
.logo span {
    font-size: 1.2rem;
    font-weight: normal;
    color: var(--text-light);
}
nav .logo:hover {
    color: var(--primary-color-dark);
   
}
nav .checkbox {
    display: none;
}
nav input {
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color:var(--text-dark);
    cursor:pointer;
}
ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color:var(--text-dark);
    transition: 0.3s;

}
ul li a:hover {
    border-bottom-color: var(--primary-color);
    color: var(--primary-color);
}
.section {
    background-color: #F7F8F2;
    
}
.section__container {
    width: 100%;
    margin-top: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap:0.2rem;
    margin-bottom: 10rem;

}
.content{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    position: relative;
    margin-top: 10rem;
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
}
.title{
    font-size: 2rem;
    font-weight: 300;
    line-height: 4rem;
    color: var(--text-dark);
    margin-bottom: 1rem;

}
.title span{
    font-weight: 600;

    color: var(--primary-color);
}
.description {
    line-height: 2.2rem;
    color:var(--text-dark);
    font-size: 1.8rem;
}
.image {
   top: 0;
    display: flex;
    flex-direction: column;

}
    
.image img{
    
    width:100%;
    height: 700px;
    
    transition: transform 1s ease;
    display: flex;

}
.image img:hover{
     transform: rotateY(360deg);
}
@media (width <750px){
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100vh -85px);
        left: -100%;
        top: 80px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap:3rem;

    }
    nav #check:checked ~ ul{
        left: 0;
       color: black;
    }
    ul li a {
        font-size: 1.25rem;  
    
    }
    .section__container{
        padding: 3rem 1rem 2rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);

    }
    .image{
        grid-area:1/1/2/2;

    }
    .action__btns{
        margin: auto;
    }
    .section__container1 {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

}
.section__container1 {
    width: 100%;
    padding: 2rem 1rem;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center; 
}


.section__container1 h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}


.section__container1 .video video {
    width: 100%;  
    box-shadow: 0 0px 4px beige;
}


.description span {
         
  line-height: 2rem;     
  font-size: 1.1rem;   
  color:black;         
 }

.services {
  padding: 40px 20px;
  text-align: center;
}

.services h3 {
  font-size: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: black;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
  width: var(--max-width);
  margin: auto;
  justify-content: center;
}

.card {
  background: white; 
  width: 350px;
  height: 300px;
  padding: 20px;
  border-radius: 12px;
  box-shadow:  0 1rem 1.5rem rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  border-left: 5px solid black; 

}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.card h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.card p {
  font-size: 15px;
  color:black;
  line-height: 1.6;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 3px;
    background: #d5d5d5;
    margin: 0 12px;;
}

.divider span {
    font-size: 1.6rem;
    opacity: 0.8;
}

.nos-produits {
    padding: 1rem 1rem;
    text-align: center;
}
.nos-produits h4 {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}
.product-card {
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 1rem 1.5rem ;
}
.product-card img {
    width: 100%;

    object-fit: cover;
    height: 70%;
}
.product-card p {
    text-align: center;
    font-size: 1rem;
    color: black;
    margin-top: 3rem;
}
.action__btns{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.action__btns button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    width: 20rem;
}
.Contact1 {
    background-color: var(--primary-color-dark);
    color: var(--text-dark);
    transition: transform 0.3s ease;
}
.hero-section {
    width: 100%;
    margin-bottom: 2rem;
    height: 400px;
  
}

.hero-image img {
    width: 100%;
    display: block;
}
img {
    height: 600px;
}